 
.tweet-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: goldenrod;
  background-image: url("3px-tile.png");
  height: 400px;
  width: auto;
}


@media only screen and (min-width: 1024px) {
  .tweet-header {
    width: 100%;

    margin: 160px 60px 0 60px;
  }
}


img {
  justify-content: center;
  align-items: center;
  width: 60%; 
  margin-left: 24%; 
}

h2 {
  text-align: center;
}