nav {

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4056A1;
  color: #FFFFFF;
  /* font-family: 'Bungee', cursive; */
  height: 120px;
  margin: 0;
  padding: 0 1.5em;
  position: fixed;
  width: 100%;
}


@media (max-width: 1024px) {

  nav {
    visibility: hidden;
  }
}




.nav-heading {

  font-family: 'Bungee', cursive;
  font-size: 1.5em;

}


@media (max-width: 1024px) {

  .nav-heading {
    visibility: visible;

  }

}


.nav-content {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.nav-content p {
  margin: 0;

}


@media (max-width: 1024px) {

  .nav-content p {
    visibility: visible;

  }
}


.fa-angles-down {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: red;

}

@media (max-width: 1024px) {

  .fa-angles-down {
    visibility: visible;

  }


}



@media (max-width: 1024px) {


  .nav-content {
    position: relative;
    height: 50px;
  }

  .fa-angles-down {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;

    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    animation: moveUpDown 1s infinite;
  }

  @keyframes moveUpDown {
    0% {
      transform: translate(-50%, -50%) translateY(0);
    }

    50% {
      transform: translate(-50%, -50%) translateY(-10px);
    }

    100% {
      transform: translate(-50%, -50%) translateY(0);
    }
  }

}